<!DOCTYPE html>
<html>

<head>
    {{> partialHead}}
</head>

<body>
{{> partialBodyStart}}
<div id="app">
    <div id="sidebar">
        <form action="" method="POST" enctype="multipart/form-data">
            <label>
                Upload subscription list from
                <a href="https://www.youtube.com/subscription_manager?action_takeout=1">
                    Youtube Subscription Manager
                </a>
                <input type="file" name="xml">
                <button type="submit" name="uploadSubscriptions">Upload Subscriptions</button>
            </label>
        </form>
        <form action="" method="POST" enctype="multipart/form-data">
            <label>
                Check Youtube Auth
                <button type="submit" name="checkYoutubeAuth">Check Youtube Auth</button>
            </label>
        </form>
        <form action="" method="POST" enctype="multipart/form-data">
            <label>
                Sync Subscriptions
                <button type="submit" name="syncSubscriptions">Upload Subscriptions</button>
            </label>
        </form>

        <form action="" method="POST">
            <label>
                Add group
                <input type="text" name="groupName"/>
                <button type="submit" name="addGroup">Add Group</button>
            </label>
        </form>
    </div>
    <div id="content">
        <h1>Subscriptions</h1>
        <ul>
            {{#each subscriptions}}
                <li>
                    <a href="https://www.youtube.com/channel/{{channelId}}">{{channelName}}</a> -
                    {{#each groupsArray}}
                        {{this}} <a href="/api/removeChannelGroupMap?channelId={{../channelId}}&groupName={{this}}
                        ">x</a>,
                    {{/each}}
                    <form action="" method="POST">
                        <select name="groupName">
                            <option value=""></option>
                            {{#each @root.groups}}
                                <option value="{{groupName}}">{{groupName}}</option>
                            {{/each}}
                        </select>
                        <input type="hidden" name="channelId" value="{{channelId}}"/>
                        <button type="submit" name="addChannelGroup">Add Group</button>
                    </form>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
</body>

</html>
